{% extends 'base.html' %} {% block content %}
<strong style="margin-bottom: 1rem">New Paste</strong>
<form method="post">
  {{ form.csrf_token }} {{ form.body(placeholder='Paste your text here...',
  rows=10) }}
  <br />
  {{ form.language }}
  <br />
  <button type="submit">Submit</button>
</form>
{% if pastes %}
<hr />
<strong>Latest Pastes</strong>
<ul style="list-style-type: none; margin-left: -2rem">
  {% for p in pastes %}
  <li>
    🌐 <a href="{{ url_for('paste', id=p.id) }}">{{ p.id }}</a>
    <small> | {{ p.language }} | {{ p.timestamp.strftime('%Y-%m-%d') }} </small>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
